<div class="panel panel-default panel-intro">

    <div class="panel-heading">
        {:build_heading(null,FALSE)}
        <ul class="nav nav-tabs" data-field="status">
            <li class="{:$Think.get.status === null ? 'active' : ''}"><a href="#t-all" data-value="" data-toggle="tab">{:__('All')}</a></li>
            {foreach name="statusList" item="vo"}
            <li class="{:$Think.get.status === (string)$key ? 'active' : ''}"><a href="#t-{$key}" data-value="{$key}" data-toggle="tab">{$vo}</a></li>
            {/foreach}
        </ul>
    </div>


    <div class="panel-body">
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade active in" id="one">
                <div class="widget-body no-padding">
                    <div id="toolbar" class="toolbar">
                        <a href="javascript:;" class="btn btn-primary btn-refresh" title="{:__('Refresh')}" ><i class="fa fa-refresh"></i> </a>
<!--                        <a href="javascript:;" class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('yp/order/del')?'':'hide'}" title="{:__('Delete')}" ><i class="fa fa-trash"></i> {:__('Delete')}</a>-->
                        <a href="javascript:;" class="btn btn-danger btn-export_log {:$auth->check('yp/order/export_log')?'':'hide'}" >导出筛选订单</a>
                        <a href="javascript:;" class="btn btn-danger btn-delivery btn-disabled disabled {:$auth->check('yp/order/delivery')?'':'hide'}" title="批量发货" ></i>批量发货</a>
                    </div>
                    <table id="table" data-show-export="false" data-show-toggle="false" data-show-columns="false" class="table" width="100%">
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<style type="text/css">
    .yp_order_list{
        margin-bottom: 15px;
    }
    .yp_order_list .detail{

    }
    .fix-108{
        width: 108px;
        text-align: center;
    }
    .text-left{
        text-align: left;
    }
    .text-right{
        text-align: right;
    }
    .yp_order_list .table>thead{
        background: #f1f4f6;
    }
    .bootstrap-table .table,
    .bootstrap-table .table>thead>tr>th{
        border-bottom: 1px solid #f1f1f1;
    }
    .table-bordered{
        border: 1px solid #f1f1f1;
    }
    .table-bordered > thead > tr > th,
    .table-bordered > tbody > tr > td {
        border: 1px solid #f1f1f1;
        border-bottom: 0;
    }
    .table-bordered > thead > tr > th, label{
        margin-bottom: 0;
        font-weight: normal;
    }
    .table-bordered > tbody td.empty{
        border-top: 0;
    }
    .table-bordered > tbody td.conceal{
        border-left: 0 ;
        border-right: 0 ;
    }
    .table-bordered > tbody td.conceal.fix-108{
    }
    /* 产品 */
    .yp_order_list p{
        margin-bottom: 4px;
    }
    .yp_order_list .item {
        display: flex;
        margin: 10px;
    }

    .yp_order_list .item .order_img {
        flex-shrink: 0;
    }
    .yp_order_list .item .order_info {
        width: 90%;
        margin-left: 10px;
        margin-top: 2px;
    }
    .yp_order_list .item .order_info .sku {
        color: #9e9e9e;
    }
    .yp_order_list .operation a{
        color: #565656;
    }
</style>
<script type="text/html" id="itemtpl">
    <% if(i == 0){ %>
    <div class="col-sm-12" style="margin-bottom: 15px;">
        <table class="table table-bordered table-striped table-hover table-nowrap">
            <thead>
            <tr>
                <th class="text-center"><div class="th-inner">商品</div></th>
                <th class="fix-108"><div class="th-inner">商品总价</div></th>
                <th class="fix-108"><div class="th-inner">重量</div></th>
                <th class="fix-108"><div class="th-inner">烘焙程度</div></th>
                <th class="fix-108"><div class="th-inner">数量</div></th>
                <th class="fix-108"><div class="th-inner">买家</div></th>
                <th class="fix-108"><div class="th-inner">优惠金额</div></th>
                <th class="fix-108"><div class="th-inner">订单金额(优惠后)</div></th>
                <th class="fix-108"><div class="th-inner">状态</div></th>
            </tr>
            </thead>
        </table>
    </div>
    <% } %>
    <div class="yp_order_list col-sm-12">
        <table class="table table-bordered table-hover ">
            <thead>
            <tr>
                <th colspan="8">
                    <div class="th-inner">
                        <input name="checkbox" data-id="<%=item.id%>" id="order_<%=item.id%>" type="checkbox" />
                        <label for="order_<%=item.id%>">订单号：<%=item.order_no%></label>
                        <label style="margin-left:60px;"for="order_<%=item.id%>">订单类型：<%=item.order_type_name%></label>
                        <label style="margin-left:60px;"for="order_<%=item.id%>">支付方式：<%=item.payment_name%></label>
                        <label style="margin-left:60px;"for="order_<%=item.id%>">订单金额：<%=item.order_money%></label>
                        <label style="margin-left:60px;"for="order_<%=item.id%>">支付余额：<%=item.cash_money%></label>
                        <label style="margin-left:60px;"for="order_<%=item.id%>">抵扣积分：<%=item.discount_integral%></label>
                        <label style="margin-left:60px;" for="order_<%=item.id%>">创建时间：<%=Moment(item.createtime*1000).format("YYYY-MM-DD HH:mm:ss")%></label>
                    </div>
                </th>
            </tr>
            </thead>
            <tbody>
            <% for(var k = 0 ; k < item.item.length ; k ++){ %>
            <% var goods = item.item[k]; %>
            <% var labelarr = ['primary', 'success', 'info', 'danger', 'warning', 'muted']; %>
            <tr>
                <td class="conceal">
                    <div class="item">
                        <div class="order_img">
                            <a href="javascript:"><img class="img-md img-center" src="<%=cdnurl(goods.goods_image)%>" alt="<%=goods.goods_title%>"></a>
                        </div>
                        <div class="order_info">
                            <p><%=goods.goods_title%></p>
                            <p class="sku"><%=goods.stock_title%></p>
                        </div>
                    </div>
                </td>
                <td class="conceal fix-108">
                    <p>￥<%=goods.money%></p>
                </td>
                <td class="conceal fix-108">
                    <p><%=goods.weight%>g</p>
                </td>
                <td class="conceal fix-108">
                    <p><%=goods.baking%></p>
                </td>
                <td class="conceal fix-108"> <%=goods.num%> </td>
                <% if(k == 0){ %>
                <td class="fix-108">
                    <p style="margin-bottom:5px;">
                        <a href="javascript:;" class="searchit" data-toggle="tooltip" title="" data-field="user.id" data-value="<%=item.user.id%>"><%=item.user.nickname%></a>
                    </p>
                </td>
                <td class="fix-108">
                    <p><strong>￥<%= item.discount_money %></strong> </p>
                </td>
                <td class="fix-108">
                    <p><strong>￥<%= item.order_money %></strong> </p>
                </td>
                <td class="fix-108 operation">
                    <% if(item.status == 0){ %>
                    <p>
                        <a href="javascript:;" class="searchit" data-toggle="tooltip" title="" data-field="status" data-value="<%=item.status%>" data-original-title="点击搜索 <%=item.status_text%>">
                            <span class="text-<%=labelarr[4]%>"><i class="fa fa-circle"></i> <%=item.status_text%> </span>
                        </a>
                    </p>
                    <% }else if(item.status == 1){ %>
                    <p>
                        <a href="javascript:;" class="searchit" data-toggle="tooltip" title="" data-field="status" data-value="<%=item.status%>" data-original-title="点击搜索 <%=item.status_text%>">
                            <span class="text-<%=labelarr[4]%>"><i class="fa fa-circle"></i> <%=item.status_text%> </span>
                        </a>
                    </p>
                    <p><a href="javascript:;" class="detail" data-id="<%=item.id%>">订单详情</a> </p>
                    <% }else if(item.status == 2){ %>
                    <p>
                        <a href="javascript:;" class="searchit" data-toggle="tooltip" title="" data-field="status" data-value="<%=item.status%>" data-original-title="点击搜索 <%=item.status_text%>">
                            <span class="text-<%=labelarr[0]%>"><i class="fa fa-circle"></i> <%=item.status_text%></span>
                        </a>
                    </p>
                    <p><a href="javascript:;" class="detail" data-id="<%=item.id%>">订单详情</a> </p>
                    <% }else if(item.status == 3){ %>
                    <p>
                        <a href="javascript:;" class="searchit" data-toggle="tooltip" title="" data-field="status" data-value="<%=item.status%>" data-original-title="点击搜索 <%=item.status_text%>">
                            <span class="text-<%=labelarr[2]%>"><i class="fa fa-circle"></i> <%=item.status_text%></span>
                        </a>
                    </p>
                    <p><a href="javascript:;" class="detail" data-id="<%=item.id%>">订单详情</a> </p>
<!--                    <p><a href="javascript:;" class="kuaidisub" data-id="<%=item.id%>">查看物流</a> </p>-->

                    <% }else if(item.status == 4){ %>
                    <p>
                        <a href="javascript:;" class="searchit" data-toggle="tooltip" title="" data-field="status" data-value="<%=item.status%>" data-original-title="点击搜索 <%=item.status_text%>">
                            <span class="text-<%=labelarr[1]%>"><i class="fa fa-circle"></i> <%=item.status_text%></span>
                        </a>
                    </p>
                    <p><a href="javascript:;" class="detail" data-id="<%=item.id%>">订单详情</a> </p>
<!--                    <p><a href="javascript:;" class="kuaidisub" data-id="<%=item.id%>">查看物流</a> </p>-->

                    <% }else if(item.status == 5){ %>
                    <p>
                        <a href="javascript:;" class="searchit" data-toggle="tooltip" title="" data-field="status" data-value="<%=item.status%>" data-original-title="点击搜索 <%=item.status_text%>">
                            <span class="text-<%=labelarr[0]%>"><i class="fa fa-circle"></i> <%=item.status_text%></span>
                        </a>
                    </p>
                    <p><a href="javascript:;" class="detail" data-id="<%=item.id%>">订单详情</a> </p>
                    <% }else if(item.status == 6){ %>
                    <p>
                        <a href="javascript:;" class="searchit" data-toggle="tooltip" title="" data-field="status" data-value="<%=item.status%>" data-original-title="点击搜索 <%=item.status_text%>">
                            <span class="text-<%=labelarr[0]%>"><i class="fa fa-circle"></i> <%=item.status_text%></span>
                        </a>
                    </p>
                    <p><a href="javascript:;" class="detail" data-id="<%=item.id%>">订单详情</a> </p>
                    <% } %>
                </td>

                <% }else{ %>
                <td class="empty"> </td>
                <td class="empty"> </td>
                <td class="empty"> </td>
                <% } %>
            </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</script>